<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rolodexterous || Categories || {{ category.getName }}</title>
</head>
<body>
    <div class="container">
        <h1>{{ category.getName }}</h1>

        {% if contacts is not empty %}
            <p>Here are your contacts:</p>
            <ul>
                {% for contact in contacts %}
                    <li>{{ contact.getName }}<br>
                    {{ contact.getPhoneNumber }}<br>
                    {{ contact.getAddress}}</li>
                {% endfor %}
            </ul>
        {% endif %}

        <h4>Add a contact</h4>

        <form action="/contacts" method="post">
            <input id="category_id" name="category_id" type="hidden" value="{{ category.getId() }}">

            <div class ="form-group">
                <label for="contact_name">Contact Name</label>
                <input id="contact_name" name="contact_name" type="text">
            </div>

            <div class="form-group">
                <label for="contact_phone_number">Contact Phone Number</label>
                <input id="contact_phone_number" name="contact_phone_number" type="text">
            </div>

            <div class="form-group">
                <label for="contact_address">Contact Address</label>
                <input id="contact_address" name="contact_address" type="text">
            </div>


            <button class="btn btn-sm btn-primary" type="submit">Add Contact</button>
        </form>

        <p><a href="/categories/{{ category.getId }}/edit">Edit this category</a></p>

        <p><a href="/">Home</a></p>
    </div>
</body>
</html>
